@import '../../variables.scss';



.upload-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 20px;
    background: rgba($gray-color, .4);
    border-radius: 10px;
    gap: 20px;



    .upload{
        position: relative;
        cursor: pointer;
        height: 150px;
        min-width: 150px;
        background: $violet-background;
        border-radius: 10px;
        border: 2px dashed $violet-color;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 500px) {
            height: 70px;
            min-width: 70px;
        }

        input{
            width: 0;
            height: 0;
            opacity: 0;
        }
        svg{
            height: 30px;
            width: 30px;
            color: $violet-color;
        }
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 151px;
            width: 151px;
            border-radius: 10px;
            @media (max-width: 500px) {
                height: 70px;
                width: 70px;
            }
        }

    }

    & p:last-child{
        width: 150px;
        @media (max-width: 500px) {
            display: none;
        }
    }
    p{
        color: $first-text-color
    }

}


.info-wrapper{

    padding: 20px;
    background: rgba($gray-color, .4);
    border-radius: 10px;
    
    input {
        margin-top: 20px;
    }
    p{
        color: $first-text-color
    }

}