@import '../../../variables.scss';


.live-preview-wrapper{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $card-color;
    border-radius: 10px;
    padding: 60px;
    position: relative;
    @media (max-width:900px) {
        display: none;
    }



    img{
        width: 300px;
        
    }

    .live-preview{
        position: absolute;
        height: 560px;
        scrollbar-width: none;
        overflow: auto;
        // scroll-snap-type: y mandatory;
        top: 49.9%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
      
        
        img{
            margin-top: 20px;
            width: 150px;
            min-height: 150px;
            border-radius: 10px;
        }
        p{
            margin-top: 10px;
            max-width: 260px;
            word-break: break-all;
        }
        .skeleton-avatar{
            width: 150px;
            min-height: 150px;
            background: $gray-color;
            border-radius: 10px;
            opacity: .6;
            margin-top: 20px;
        }
        .skeleton-name{
            width: 220px;
            min-height: 35px;
            background: $gray-color;
            border-radius: 10px;
            opacity: .6;
            margin-top: 10px;

        }
        .skeleton-email{
            width: 200px;
            min-height: 30px;
            background: $gray-color;
            border-radius: 10px;
            opacity: .6;
            margin-top: 10px;
        }
        
        .link-preview-wrapper{
            margin-top: 20px;


            .link-preview{
                margin-top: 10px;
                color: black;
                text-decoration: none;
                width: 250px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                font-size: 18px;
                overflow: hidden;
                font-weight: 700;
            }
        }
    }
}