@import '../../variables.scss';

.links-page-wrapper{
    max-height: 81vh;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    @media (max-width:900px) {
        justify-content: center;
        max-height: 90vh;    
    }
    gap: 20px;


    .live-preview-wrapper{
        width: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $card-color;
        border-radius: 10px;
        padding: 60px;
        position: relative;
        @media (max-width:900px) {
            display: none;
        }



        img{
            width: 300px;
            
        }

        .live-preview{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .edit-link-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 55vw; 
        @media (max-width:900px) {
            width: 100%;  
        }
        background: $card-color;
        border-radius: 10px;
        padding: 20px;



        .edit-link-text{

            & p:first-child{
                font-size: 1.5rem;
                font-weight: bold;
                color: black;
            }
            p{
                color: $gray-color;
            }
            
        }

        .add-link-btn{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            border-radius: 10px;
            color: $violet-color;
            border: 2px solid $violet-color;
            cursor: pointer;
            transition: .3s;

            &:hover{
                background: $violet-background;
            }

            p{
                font-weight: 700;
                font-size: 18px;
            }
        }

        .links-card-wrapper{
            overflow: auto;
            scrollbar-width: none;
            min-height: 358px;
            max-height: 358px;
            scroll-snap-type: y mandatory;
            display: flex;
            flex-direction: column;
            gap: 10px;
            transition:  .3s;
            &::-webkit-scrollbar {
                display: none;
            }

        }

        .save-btn{
            cursor: pointer;
            background: $violet-color;
            color: white;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            transition: .3s;

            &:hover{
                background: $violet-background;
                color: $violet-color;
            }
        }

    }

}